<div *ngIf="form" class="container mt-5">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">Course Id</label>
              <input type="text" 
                     name="course_id" 
                     class="form-control"
                     formControlName="course_id"
                     [(ngModel)]="(course) ? course.course_id : course_id"
                     readonly>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Name</label>
                <input type="text" 
                name="course_name" 
                class="form-control"
                formControlName="course_name"
                [(ngModel)]="(course) ? course.course_name : course_name"
                >
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" 
            name="author" 
            class="form-control"
            formControlName="author"
            [(ngModel)]="(course) ? course.author : author"
            
            >
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" 
            name="description"
            class="form-control"  
            formControlName="description"
            [(ngModel)]="(course) ? course.description : description"
            >
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="text" 
            name="price" 
            class="form-control"
            formControlName="price"
            [(ngModel)]="(course) ? course.price : price"
            >
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>